<!-- <div class="leads-form">
    <form class="form-group" #leadForm="ngForm" (ngSubmit)="save(leadForm)">
        <div>
            <input type="text" ngModel required name="name" placeholder="Enter Name Here..." class="leads-value">
        </div>
        <div>
            <input type="text" name="mobile" ngModel required placeholder="Enter Mobile No." class="leads-value">
        </div>
        <div>
            <input type="text" name="email" ngModel required placeholder="Enter Email Address.." class="leads-value">
        </div>
        <div>
            <label for="select">Select Services :</label>
            <select name="select" ngModel required id="select">
                <option value="Select">Select</option>
                <option value="ITR">ITR</option>
                <option value="GST">GST</option>
                <option value="VALUE1">VALUE1</option>
                <option value="VALUE2">VALUE2</option>
            </select>
        </div>
        <input type="submit" class="leads-value">
    </form>
</div> -->



