<form >
    <fieldset>
        <legend>Login</legend>
        <div class="form-field"><input type="text" formControlName="text" name="username" placeholder="Username"></div>
        <div class="form-field"><input type="Password" formControlName="Password" name="Password"
                placeholder="Password">
        </div>
    </fieldset>
    <div class="form-field">
        <button class="button button-primary" (click)="login()">
            Login</button>

    </div>

</form>

<button>hllo</button>