<form>
    <h3>Profile</h3>
    <div>
        <img src="" alt="Profile Pic">

        <input type="text" name="name" placeholder="Profile Name ">


        <div>

            <input type="email" name="email" placeholder="Email Address">
        </div>
        <div>

            <input type="number" name="phone" placeholder="Phone Number">
        </div>
        <div>

            <input type="text" name="birth-date" placeholder="Day--Month--Year">
        </div>
        <div>

            <input type="text" name="status" placeholder="Status">
        </div>
        <button (click)="edit()">
            Edit
        </button>
        <button (click)="save()">
            Save
        </button>

    </div>
</form>