<!-- <h3>Dashboard</h3>
<div>
    Color : <select name="color" id="color">
        <option value="Dark">Dark</option>
        <option value="Light">Light</option>
    </select>
</div>
<div>
    DashBoard:
</div>
<div>
    <span>
        Notification:
    </span>
    <span>
        Message:
    </span>
    <span>
        Search:
    </span>
</div> -->
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Swagkari</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Leads
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Reports
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Setting
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Profile
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown" dropdown >
      <a  dropdownToggle  class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <strong>User</strong>
      </a>
      <ul id="dropdown-animated" class="dropdown-menu dropdown-menu-dark text-small shadow" *dropdownMenu aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" >New project...</a></li>
        <li><a class="dropdown-item" >Settings</a></li>
        <li><a class="dropdown-item" >Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" >Sign out</a></li>
      </ul>
    </div>
  </div>