<p>dashboard works!</p>

<div>
    <h2>Get Upto 15 to 40% OFF </h2>
<button type="button" (click)= "onClick()" id="toggle" >Get Discount</button>

</div>

<div >
    <form  id="hide" > 
        <label for="firstName">Name: <input type="text" name="firstName" id=""></label>
        <label for="lastName">Last Name: <input type="text" name="lastName" id=""></label>
        <label for="email">Email: <input type="email" name="" id=""></label>

        <button>Get Upto 40% Off</button>
    </form>

</div>

<!-- 
<button (click)='add()'>Add</button>

<ul>
    <li>
        {{cLead | json }} 
    </li>
</ul> -->